@import "../../modules/main";

@media (min-width: 1440px) {
    #complete-case-slide .splide__list > a:nth-of-type(3n) {
        transform: translateY(0.625rem);
    }

    #complete-case-slide .splide__list > a:nth-of-type(2n) {
        transform: translateY(1.5rem);
    }
}

.bg-radial-white {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0) 60%);
}
