@import "./theme";
@import "./splide";

@for $i from 1 through 10 {
    .line-clamp-#{$i} {
        display: -webkit-box;
        -webkit-line-clamp: $i;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

* {
    touch-action: manipulation;
    font-family: "IBM Plex Sans Thai", sans-serif;
    box-sizing: border-box;
    outline: none;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

html {
    font-size: clamp(14px, 1vw, 16px);
    scroll-padding-top: 12rem;
}

.main-container-xl {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.main-container {
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    @media (max-width: 1640px) {
        & {
            max-width: 1240px;
        }
    }
    @media (max-width: 1340px) {
        & {
            max-width: 1180px;
        }
    }
}

.main-container-sm {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    @media (max-width: 1640px) {
        & {
            max-width: 1024px;
        }
    }
    @media (max-width: 1366px) {
        & {
            max-width: 960px;
        }
    }
}

button:disabled {
    opacity: 0.5;
    pointer-events: none;
    filter: grayscale(1);
}

::-webkit-scrollbar {
    width: 14px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.hide-scroll-bar::-webkit-scrollbar {
    height: 0;
    width: 0;
}

nav {
    .social-link {
        a {
            transition: background-color 0.1s;
        }
        a:hover {
            border: 1px solid $orange;
            color: $orange;
        }
    }
    .page-nav-menu {
        & > a,
        & > div {
            transition: 0.1s;
            font-size: 1rem;
            border-bottom: 3px solid transparent;
            &:hover,
            &.active {
                color: $orange;
                border-color: $orange;
            }
        }
    }
    .sub-menu-wrapper {
        position: relative;
        &:hover {
            .sub-menu {
                pointer-events: all;
                opacity: 1;
            }
        }
        .sub-menu {
            background: $deep-blue;
            display: flex;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.1s;
            flex-direction: column;
            position: absolute;
            min-width: 100%;
            top: calc(100% + 3px);
            left: 0;
            a {
                color: #fff;
                font-size: 0.875rem;
                padding: 1rem 0.875rem;
                transition: background-color 0.1s;
                &:hover,
                &.active {
                    background: $orange;
                }
            }
        }
    }
}

footer {
    .social-link {
        a {
            transition: background-color 0.1s;
        }
        a:hover {
            border: 1px solid $orange;
            color: $orange;
        }
    }
}

#side-nav {
    a:not(.btn-orange, .btn-transparent):hover {
        color: $orange;
    }
    .social-link {
        a {
            transition: background-color 0.1s;
        }
        a:hover {
            border: 1px solid $orange;
            color: $orange;
        }
    }
}

.collapsible {
    display: grid;
    text-align: left;
    justify-items: start;

    & > button,
    & > button > i {
        transition:
            color 0.25s,
            background-color 0.25s,
            transform 0.25s;
    }
    & > button:hover {
        color: $orange !important;
    }
    & > button * {
        pointer-events: none;
    }
    .collapsible-content-wrapper {
        display: grid;
        transition:
            grid-template-rows 0.25s,
            margin-top 0.25s;
    }
    &.active {
        & > button {
            color: $orange;
        }
        .collapsible-content-wrapper {
            grid-template-rows: 1fr;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }
        i {
            transform: rotate(180deg);
        }
    }
    &:not(.active) {
        .collapsible-content-wrapper {
            grid-template-rows: 0fr;
        }
    }
    .collapsible-content {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        a,
        button {
            padding-left: 1.25rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-out {
    animation: fade-out 0.6s forwards;
}

main {
    animation: fade-in 0.5s forwards;
}

// See-More

.see-more-content {
    &:not(.active) {
        display: none;
    }
}

// Breadcrumb

.breadcrumbs > .current-item {
    font-weight: 700;
}
